<% provide(:title,'Home') %>
<h1>Home</h1>
<p>Welcome to CodeInsight</p>
<div class="timeline-container" >
	<div class="middle-divider">

	</div>
	<% (0..2).each do |i|%>
	<div class="line" id="line<%=i%>">
		<div class="left-field">
			<div class="left-wrapper ">
				<div class="right-arrow" id="rarrow<%=i%>">
				</div>
				<div  class="left-info wrapword" id="linfo<%=i%>" style="text-align:center;padding:10px;">
					COMPETE
				</div>
			</div>
		</div>
		<div class="right-field" id="rf">
			<div class="right-wrapper">
				<div class="left-arrow" id="larrow<%=i%>">
				</div> 
				<div id="card-container"class="right-info wrapword " style="position:relative;">
					<div class="card-front wrapword " id="cf<%=i%>">
						=====right-info>>>>>>>>>>>>>>>>>><br>
						=====right-info>>>>>>>>>>>>>>>>>><br>
						=====right-info>>>>>>>>>>>>>>>>>><br>
						=====right-info>>>>>>>>>>>>>>>>>><br>
					</div>
					<div class="card-back wrapword " id="cb<%=i%>" 
						style="position:absolute;top:0px;left:0px;z-index:-2;">
						back card<br>
						back card<br>
						back card<br>
						back card
					</div>
				</div>
			</div>
		</div>
	</div>

	<% end %>

	<script>
		window.onresize=function(){
			<% (0..5).each do |i|%>
				h=document.getElementById("line<%=i%>").clientHeight;
				document.getElementById("larrow<%=i%>").style.marginTop=(h/2 -  13)+"px";
				document.getElementById("rarrow<%=i%>").style.marginTop=(h/2 -  13)+"px";
				hmy=document.getElementById("linfo<%=i%>").clientHeight;
				document.getElementById("linfo<%=i%>").style.marginTop=((h -  hmy)/2)+"px";
			<% end %>	
		};
		<% (0..5).each do |i|%>
			h=document.getElementById("line<%=i%>").clientHeight;
			document.getElementById("larrow<%=i%>").style.marginTop=(h/2 -  13)+"px";
			document.getElementById("rarrow<%=i%>").style.marginTop=(h/2 -  13)+"px";
			hmy=document.getElementById("linfo<%=i%>").clientHeight;
			document.getElementById("linfo<%=i%>").style.marginTop=((h -  hmy)/2)+"px";
			h=document.getElementById("cf<%=i%>").clientHeight;
			document.getElementById("cb<%=i%>").style.height=(h-20)+"px";
		<% end %>
	</script>
</div>