<header>
	<div id='authentication-div'>
		<% if signed_in? %>
			<div id="signed-in-div">
				<%= image_tag('default_profile_pic.png',alt:current_user.username,
						id:'profile-thumbnail') %>
				<div>
					<%= link_to current_user.username, 
						"#{root_url}users/#{current_user.username}/edit" %>
						<br>
					<%= link_to "Sign out", signout_path ,method:"delete"%>
				</div>
			</div>
		<% else %>
			<div id="guest-div">
				<li><%= link_to "Sign in", signin_path %></li>
				<li><%= link_to "Register yourself", signup_path %></li>
			</div>
		<% end %>
	</div>

	<div id='header-center'>
		
		<div style="width:100%;text-align:center;opacity:0.5;z-index:-5;">
			<h2>CodeInsight</h2>
		</div>
		
		<div class="navigation-bar	">
			<div class="center-tabs" >
				<ul class="">
					<li><%= link_to "Tutorial", '#' %></li>
					<li><%= link_to "Compete", '#' %></li>
					<li><%= link_to "Practice",'#' %></li>
				</ul>
			</div>
		</div>
	</div>

	<div id='logo-div'>
		<%= link_to image_tag("logo.png",alt:"CodeInsight",id:"site-logo"), root_url %>
	</div>
</header>